    .footer {
  background: #1c293b;
  color: #fff;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-about {
  flex: 1;
  min-width: 220px;
}

.footer-links {
  flex: 1;
  min-width: 180px;
}
.footer-links ul li a {
  color: #f3f1f1;
  text-decoration: none;
  transition: color 0.3s ease;
  list-style: none;
}

.footer-links ul li a:hover {
  color: #00adb5;
}

.footer-links ul{
  list-style: none;
  cursor: pointer;
}

.footer-socials {
  flex: 1;
  min-width: 180px;
}

.footer-socials .icons a {
  margin-right: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #00adb5;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #334155;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #bbb;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-socials .icons a {
    margin: 0 5px;
  }
}
