*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
  padding: 0 20px;
  background-color: #1c293b;
background-repeat: no-repeat;
background-size: cover;
  color: white;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.highlight {
  color: #00adb5; /* Accent */
}

.hero h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: normal;
  color: #f5f6f7;
}

.hero p {
  max-width: 600px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #00adb5;
  color: rgb(255, 255, 255);
  border: none;
}

.btn-primary:hover {
  background-color: #009499;
}

.btn-outline {
  background: transparent;
  border: 2px solid #ffffff;
  color: #00adb5;
}

.btn-outline:hover {
  background-color: #00adb5;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero h3 {
    font-size: 1rem;
  }
  .hero p {
    font-size: 0.9rem;
  }
}
